@model IEnumerable<ITLab.Models.Session>;

@{
    ViewData["Title"] = "Index";
}

<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'nl',
            plugins: ['dayGrid', 'timeGrid', 'interaction'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [
                @foreach (var item in Model) {
                    @:{
                        @:title: "@item.Title",
                        @:start: "@item.Eventdate.ToString("yyyy'-'MM'-'dd")" + "T" + "@item.Starthour.ToString(@"hh\:mm\:ss")",
                        @:end: "@item.Eventdate.ToString("yyyy'-'MM'-'dd")" + "T" + "@item.Endhour.ToString(@"hh\:mm\:ss")",
                        @:url: "@Url.Action("Index", "Session", @item.Id, "https")/Index/@item.Id",
                        @if(item.Stateenum == State.FINISHED)
                        {
                             @:backgroundColor: '#838383',

                            @if (item.IsUserAtendee(User.Identity.Name))
                            {
                                @:backgroundColor: '#009933',
                            }
                        }
                        else
                        {
                            @:backgroundColor:  '#007bff',
                            @if (item.IsUserRegisterd(User.Identity.Name))
                            {
                               @:backgroundColor: '#009933',
                            }
;
                        }
                        @: borderColor: 'grey',



                    @:},

                }
            ],

        });

        calendar.render();
    });

</script>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">De kalender</h1>
    </div>
    <div id='calendar'></div>
    <div >
        <div class="row text-center" >
            <p  class="col-1" style=" margin: 1em; " > Legende:</p>
            <div style=" background-color: #838383 ; margin: 1em; border-radius: 15px; "  class="col-2 ">
                <p style="color:white;"> <small>Komende sessies</small></p>
            </div>
            <div style=" background-color: #007bff ; margin: 1em; border-radius: 15px;  "  class="col-2">
                <p style="color:white;"><small>Afgelopen sessies</small></p>
            </div>
            <div style=" background-color: #009933 ; margin: 1em; border-radius: 15px;  "  class="col-2" >
                <p style="color:white; "> <small>Ingeschreven</small></p>
            </div>

        </div>
    </div>
</div>
