@model ITLab.Models.ViewModel.UserAttendViewModel;

@{
    ViewData["Title"] = "SessionAddAttendees";

}
<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>

<div class="container" style="margin-top: 10px;">
    <div class="jumbotron">
        <div class="container" style="padding:0.5em 2em 0.5em 2em;">
            <p class="display-4">Aanwezigheden opnemen</p>
            <p class="lead">@Model.Session.Title op @Model.Session.Eventdate.ToShortDateString() in @Model.Session.ClassroomClassid</p>
            <hr class="my-4">
        </div>
        <div class="container" style="padding: 0em 2em 0.5em 2em">
            @if (Model.Session.Stateenum != State.FINISHED)
            {
                <form asp-action="SessionAddAttendees" method="post">
                    <div class=" form-group input-group">
                        <input class="form-control" asp-for="Email" placeholder="Geef een e-mailadres in om een gebruiker als aanwezig te registreren." />
                        <button class="btn btn-primary" type="submit" style="margin-left:10px;">Is aanwezig</button>
                    </div>
                </form>
            }
            else
            {
                <p> sessie is afgelopen opnemen van aanwezigheden niet meer mogelijk</p>
            }


            <div style="margin-top: 1em">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success " style="display: inline-block">@TempData["message"]</div>
                }
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-warning" style="display: inline-block">@TempData["error"]</div>
                }
            </div>

            <div class="row container align-content-center">
                <div class="col-xs-6">
                    <table class="table">
                        <tr>
                            <th> Ingeschreven</th>
                            <th> </th>
                            <th> Aangemeld</th>
                        </tr>

                        <tr> </tr>

                        @foreach (var re in Model.Session.RegisterdUser)
                        {
                            <tr>
                                <td> @re.UserUsername</td>


                                @if (Model.Session.AttendeeUser.Any(at => re.UserUsernameNavigation.Equals(at.UserUsernameNavigation)))
                                {
                                    <td>
                                        @if (Model.Session.Stateenum != State.FINISHED)
                                        {
                                            <form method="post">
                                                <input type="hidden" asp-for="Email" value="@re.UserUsername" />
                                                <button class="btn btn-secondary" type="submit">zet afwezig</button>
                                            </form>
                                        }
                                    </td>
                                    <td> aanwezig</td>

                                }
                                else
                                {

                                    @if (Model.Session.Stateenum != State.FINISHED)
                                    {
                                        <td>

                                            <form method="post">

                                                <input type="hidden" asp-for="Email" value="@re.UserUsername" />
                                                <button class="btn btn-secondary" type="submit">zet aanwezig</button>
                                            </form>
                                        </td>
                                        <td> nog niet aanwezig</td>

                                    }
                                    else
                                    {
                                        <td></td>
                                        <td>afwezig</td>

                                    }



                                }
                                
                                
                            </tr>
                        }

                    </table>
                </div>
                
            </div>

        </div>
    </div>
</div>






