@model ITLab.Models.ViewModel.UserAttendViewModel;

@{
    ViewData["Title"] = "SessionAddAttendees";
    
}
<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>

<div class="container">
    <p class="display-4">Neem aanwezigheden op voor Sessie  </p>
    <p class="font-weight-bold">naam sessie: @Model.Session.Title </p>
    <div class="container" style="padding: 2em">
        <form asp-action="SessionAddAttendees" method="post">
            <div class=" form-group">
                <label>Om een gebruiker aanwezig te zetten geeft u de email van de gebruiker.</label>
                <input class="form-control" asp-for="Email" placeholder="email van gebruiker" />

            </div>
            <button class="btn btn-primary" type="submit">Zet aanwezig</button>
            <a asp-action="Index" class="btn bg-secondary">terug naar admin panel</a>
        </form>
        <div style="margin-top: 1em">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success " style="display: inline-block">@TempData["message"]</div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-warning" style="display: inline-block">@TempData["error"]</div>
            }
        </div>



        <div class="row container align-content-center">
            <div class="col-xs-6">
                <table class="table">
                    <tr>
                        <th> Ingeschreven</th>
                        <th> </th>
                        <th> Aangemeld</th>
                    </tr>

                    <tr> </tr>

                    @foreach (var re in Model.Session.RegisterdUser)
                    {
                        <tr>
                            <td> @re.UserUsername</td>


                            @if (Model.Session.AttendeeUser.Any(at => re.UserUsernameNavigation.Equals(at.UserUsernameNavigation)))
                            {
                                <td></td>
                                <td> aanwezig</td>

                            }
                            else
                            {
                        <td>
                            <form method="post">
                                <input type="hidden" asp-for="Email" value="@re.UserUsername" />
                                <button class="btn btn-secondary" type="submit">zet aanwezig</button>
                            </form>
                                </td>

                                <td> nog niet aanwezig</td>

                            }
                        </tr>
                    }

                </table>
            </div>
            <div class="col-xs-6">
                <table class="table">
                </table>
            </div>
        </div>
    </div>
</div>
