@model ITLab.Models.Session

@{
    ViewData["Title"] = "Index";
    if ((bool)ViewData["UserLoggedIn"] == true)
    { 
        ViewData["ActieKnop"] = ((bool)ViewData["UserAlreadyRegistered"]) ? "Uitschrijven" : "Inschrijven";
    }
}
    <asp:ContentPlaceHolder ID="NavStyle" runat="server">
        <link href="~/css/normalNav.css" rel="stylesheet" />
    </asp:ContentPlaceHolder>

    <div class="container" style="margin-top: 10px;">
        <div class="jumbotron mt-4">
            <h1 class="display-4">@Model.Title</h1>
            <p class="lead">@Model.Description</p>
            <hr class="my-4">
            <p class="lead">Alles wat je moet weten</p>
            <div class="row">
                <div class="card col-6" style="width: 50%;">
                    <ul class="list-group list-group-flush list-group-item-dark">
                        <li style="margin-bottom:5px;" class="list-group-item">Spreker: <strong>@Model.Nameguest</strong></li>
                        <li style="margin-bottom:5px;" class="list-group-item">Wanneer: @Model.Eventdate.ToShortDateString() van @(string.Format("{0:00}:{1:00}", Model.Starthour.Hours, Model.Endhour.Minutes)) tot @(string.Format("{0:00}:{1:00}", Model.Endhour.Hours, Model.Endhour.Minutes))</li>
                        <li style="margin-bottom:5px;" class="list-group-item">Waar: @Model.ClassroomClassid</li>
                        <li class="list-group-item">Aantal inschrijvingen: @Model.RegisterdUser.Count/@Model.Maxattendee</li>
                    </ul>
                </div>
                @if (ViewBag.Images.Count > 0)
                {
                    <div class="carousel slide col-6" data-ride="carousel">
                        <div class="carousel-inner">



                            @foreach (var image in ViewBag.Images)
                            {
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="data:image.png;base64, @image.ToBase64()" alt="Second slide" style="height: 220px !important; object-fit: cover">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                }

            </div>
            <p class="lead" style="margin-top: 10px;">

                @if ((bool)ViewData["SessionIsFinished"] == false)
                {



                    @if (Model.SeatsAvailable() > 0)
                    {
                        @if (ViewData["ActieKnop"] == null)
                        {
                            <a class="btn btn-success" style="margin-right: 10px;" asp-controller="Session" asp-action="EvaluateButtons" asp-route-id="@Model.Id" role="button">Inschrijven</a>
                        }
                        else
                        {
                            <a class="btn btn-success" style="margin-right: 10px;" asp-controller="Session" asp-action="RegisterForSession" asp-route-id="@Model.Id" role="button">@ViewData["ActieKnop"]</a>

                        }

                    }
                    else
                    {
                    <p style="margin-right: 10px; color:red;">Deze sessie is volzet.</p>
                }

                }
                else
                {

                    <p style="margin-right: 10px;">Deze sessie is afgelopen inschrijven niet mogelijk</p>
                    @if ((bool)ViewData["UserLoggedIn"] == true)
                    {
                        @if ((bool)ViewData["UserAttended"] == true && DateTime.Now < Model.GiveDeadlineForFeedback())
                        {

                            <a class="btn btn-primary" asp-controller="Feedback" asp-action="Index" asp-route-id="@Model.Id" role="button">Feedback</a>
                        }
                    }
                }


                <a class="btn btn-primary" asp-controller="Calendar" asp-action="Index" role="button">Terug</a>


                <div class="container">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success">@TempData["message"]</div>
                    }
                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-warning">@TempData["error"]</div>
                    }
                </div>
            </div>

            @if (ViewData["Feedback"] != null)
            {
                <div class="jumbotron">
                    <h1 class="display-4">Overzicht feedback</h1>
                    <hr class="my-4">
                    @foreach (var feedback in ViewData["Feedback"] as ICollection<Feedback>)
                    {
                        <div class="form-group shadow-textarea">
                            <label style="font-weight:bold;" for="author">@feedback.AuthorUsernameNavigation.Firstname @feedback.AuthorUsernameNavigation.Lastname</label>
                            <textarea style="cursor:default; background-color:white;" readonly class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="@feedback.Contenttext"></textarea>
                        </div>
                    }
                </div>
            }

        </div>

