@model ITLab.Models.Session

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">@Model.Title</h1>
            <p class="lead">@Model.Description</p>
            <hr class="my-4">
            <p class="lead">Alles wat je moet weten</p>
            <div class="card" style="width: 50%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Spreker: <strong>@Model.Nameguest</strong></li>
                    <li class="list-group-item">Wanneer: @Model.Eventdate.ToShortDateString() van @Model.Starthour tot @Model.Endhour</li>
                    <li class="list-group-item">Waar: @Model.ClassroomClassid</li>
                    <li class="list-group-item">Aantal inschrijvingen: @Model.RegisterdUser.Count/@Model.Maxattendee</li>
                    <li class="list-group-item">Aantal inschrijvingen: @Model.SeatsAvailable() test</li>
                </ul>
            </div>
            <p class="lead" style="margin-top: 10px;">
                @if (Model.SeatsAvailable() > 0)
                {
                    <a class="btn btn-success" style="margin-right: 10px;" asp-controller="Session" asp-action="Register" role="button">Schrijf je in</a>
                    <a class="btn btn-primary" asp-controller="Calendar" asp-action="Index" role="button">Terug</a>
                }
                else
                {
                    <p style="margin-right: 10px; color:red;">Deze sessie is volzet.</p>
                    <a class="btn btn-primary" asp-controller="Calendar" asp-action="Index" role="button">Terug</a>
                }
            </p>
        </div>
    </div>
